<h1>Data-driven Web</h1>
<p>Ik ben {{ person.name }}</p>
<p>Het is vandaag {{ 'now' | date: '%a, %b %d, %Y' }}</p>
<p>Ik ben geboren op {{ person.birthdate | date: '%e%q of %B %Y' }}</p>
<p>Mijn favoriete vakantiebestemming is {{ person.custom.vakantiebestemming }}</p>
